.header {
    display: grid;
    position: fixed;
    grid-template-columns: 400px 1fr 400px;
    height: 70px;
    background: white;
    color: black;
    padding: 0 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 2;
}

.container-logo {
    width: 180px;
    height: 50px;
    padding: 5px 30px;
}

.logo-img {
    width: 100%;
    height: 100%;
}