        .container-main {
            padding: 150px 50px;
        }
        
        .container-pokemons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
        }
        
        .pokemon-card {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            background-color: white;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition-duration: .5s;
        }
        
        .pokemon-card:hover {
            transform: scale(1.1);
        }
        
        .container-img {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        
        .description-name {
            background-color: rgba(250, 4, 4, 0.281);
            text-align: left;
            padding-left: 5px;
        }
        
        .text-desc {
            text-transform: capitalize;
            margin: 0;
            padding: 5px;
        }
        
        .container-button {
            display: flex;
            justify-content: center;
        }
        
        .button {
            align-self: center;
            margin: 5px;
            border: 0;
            background-color: blue;
            color: white;
            border-radius: 15px;
            padding: 10px;
            cursor: pointer;
            outline: none;
            transition-duration: .1s;
        }
        
        .button:active {
            transform: scale(0.9);
        }
        /*Search*/
        
        .container-search {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 20px 20px;
            width: 100%;
            margin-bottom: 30px;
        }
        
        .search {
            width: 90%;
            padding: 20px 20px;
            border: 1px solid #454545;
            border-radius: 25px;
            outline: none;
        }
        /*Detail Pokemon*/
        
        .detail-pokemon {
            width: 100%;
            display: flex;
        }
        
        .detail-container {
            display: flex;
            justify-content: flex-start;
            padding: 20px 30px;
            align-items: center;
            width: 100%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: relative;
            margin-right: 30px;
        }
        
        .btn-detail {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 10px;
            margin-left: 10px;
        }
        
        .detail-container .container-img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 1px solid #000;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .textname {
            text-transform: capitalize;
            font-weight: bold;
            font-size: 32px;
        }
        
        .text-info {
            margin: 2px;
        }
        
        .container-chart {
            justify-content: center;
            padding: 20px 30px;
            align-items: center;
            width: 100%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: relative;
        }
        
        .container-btn {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        .container-types {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;
            margin-bottom: 30px;
        }
        
        .card-type {
            background-color: brown;
            padding: 30px 10px;
            text-align: center;
            color: white;
            border-radius: 25px;
            cursor: pointer;
            text-transform: capitalize;
            transition-duration: .5s;
        }
        
        .card-type:hover {
            transform: scale(1.1);
            border: 2px solid #454545;
        }
        
        .description {
            width: 100%;
        }