<div class="container-main">
    <div class="container-search" *ngIf="!detailPoke">
        <input class="search" type="text" name="search" id="search" placeholder="Buscar" (ngModelChange)="searchPokemon($event)" [(ngModel)]="search">
        <mat-accordion style="margin-bottom:10px;" *ngIf="!detailPoke">
            <mat-expansion-panel [(expanded)]="xpandStatus">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Buscar por tipo
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container-types">
                    <div class="card-type" *ngFor="let type of typesPokemon" (click)="findPokemoByType(type)">
                        {{ type.name }}
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="container-pokemons" *ngIf="!detailPoke">
            <div class="pokemon-card" *ngFor="let pokemon of filterPokemons">
                <div class="container-img">
                    <img src="{{pokemon.sprites.front_default}}" alt="">
                </div>
                <div class="description-name">
                    <p class="text-desc">Name: {{ pokemon.name }}</p>
                    <p class="text-desc">Tipo: {{ pokemon.types[0].type.name }}</p>
                    <div class="container-button">
                        <button class="button" (click)="detailPokemon(pokemon)">Ver más</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-btn">
            <button class="button" *ngIf="!detailPoke" (click)="viewMorePokemons()">Ver más</button>
        </div>
    </div>

    <div class="detail-pokemon" *ngIf="detailPoke">
        <div class="detail-container">
            <button class="button btn-detail" (click)="goBack()"> Atras </button>
            <div class="container-img">
                <img src="{{pokemon.sprites.front_default}}" alt="">
            </div>
            <div class="description">
                <p class="textname">{{ pokemon.name }}</p>
                <mat-accordion class="accordion">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Habilidades
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let pokemonAbility of pokemon.abilities">
                            <p>{{ pokemonAbility.ability.name }}</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Caracteristicas
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="info">
                            <p class="text-info"><strong>Altura:</strong> {{ pokemon.height/10 }} m </p>
                            <p class="text-info"><strong>Peso:</strong> {{ pokemon.weight/10 }} kg</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tipo
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let pokemonType of pokemon.types">
                            <p>{{ pokemonType.type.name }}</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="container-chart">
            <p class="textname">Estadisticas</p>
            <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels" [chartType]="radarChartType">
                            </canvas>
            </div>
        </div>
    </div>
</div>